the ```datetime``` module provides 6 main high-level interface classes.

-   date: an idealised date that assumes the gregorian calender extends indefinetly into the future and past. it stores the year, month and day as attributes. 
-   time: an idealised time that assumes there are 24 x 60 x 60 =86, 400 seconds per day and no leap seconds. this object stores the hour, minute, second, microsecond and tzinfo(time zone info).
-   datetime: a combination of a date and a time. it has all the attributes of both classes. 
-   timedelta: a duration expressing the difference between two date, time or datetime objects to microsecond resolution. 
-   tzinfo: provides timezone-related info objects. 
-   timezone: A class that implements the ```tzinfo``` abstract base class as a fixed offset from the UTC. 

There is also a ```calender``` module for dealing with calender functions. 
-   month and week arithmetic
-   formatting outputs

In [1]:
import datetime

In [2]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

### TIMES
-   time values are represented with the time class. 
-   times have attributes for hour, min, sec and microsecond.
-   ``` datetime.time(hour=0, minute=0, second=0, microsecond=0, tzinfo=None, *, fold=0)```

look at documemtation

In [5]:
t = datetime.time(1, 2, 3)
print(t)

01:02:03

In [6]:
print('hour:', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

hour: 1
minute: 2
second: 3
microsecond: 0
tzinfo: None

the variable t only holds values of time, and not a date associated with the time.

You can get the valid range of times in a single day:

In [7]:
print('earliest:', datetime.time.min)
print('latest:', datetime.time.max)
print('resolution:', datetime.time.resolution)

earliest: 00:00:00
latest: 23:59:59.999999
resolution: 0:00:00.000001

Note: that the resolution for time is limited to whole microseconds.

#### Breakout 1: 

Create a ```time``` object with 5 microseconds and 39 minutes.

In [8]:
# create a time object with 5 microseconds and 39 minutes
t = datetime.time(23, 39, 5, 100000)

print(t)

23:39:05.100000

## Dates: 
-   calender date values are represented with the date class. 
-   A date is represented in terms of year, month and day. 
-   it is easy to create a date representing todays date using the today() class method. 
-   datetime.date(year, month, day)

In [9]:
today = datetime.date.today()
print(f'today:\n\t {today}')
print(f'ctime:\n\t {today.ctime()}')
print(f'year:\n\t {today.year}')
print(f'month:\n\t {today.month}')
print(f'day:\n\t {today.day}')
print(f'weekday:\n\t {today.weekday()}')
print(f'isoweekday:\n\t {today.isoweekday()}')
print(f'tuple:\n\t {today.timetuple()}')
print(f'ordinal:\n\t {today.toordinal()}')

today:
	 2024-12-11
ctime:
	 Wed Dec 11 00:00:00 2024
year:
	 2024
month:
	 12
day:
	 11
weekday:
	 2
isoweekday:
	 3
tuple:
	 time.struct_time(tm_year=2024, tm_mon=12, tm_mday=11, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=346, tm_isdst=-1)
ordinal:
	 739231

these are also class methods for creating instances from integers(using propletic gregorian values which starts counting from jan 1 of the year 1)or POSIX timestamp values. 
- the following example illustrates the different types used by:    
-       from ordinal(): return the date corresponding to the proleptic gregorian ordinal (no. of days elapsed from the date 01/jan/0001)
-   from timestamp(): return the local date corresponding to the timestamp.

In [13]:
import time

o = 733114
print(f'o={o} and fromordinal(o)={datetime.date.fromordinal(o)}')

t=time.time()
print(f'time={t} and fromtimestamp(t)={datetime.date.fromtimestamp(t)}')

o=733114 and fromordinal(o)=2008-03-13
time=1733947089.7308702 and fromtimestamp(t)=2024-12-11

In [14]:
# range of dates
print(f'earliest={datetime.date.min}')
print(f'latest={datetime.date.max}')
print(f'resolution={datetime.date.resolution}')

earliest=0001-01-01
latest=9999-12-31
resolution=1 day, 0:00:00

In [15]:
# replace date 
d1 = datetime.date(2015, 3, 11)
print(f'd1={d1}')

d1=2015-03-11

In [16]:
# create a date object with year 2026 and day 5
d2 = d1.replace(year=2026, day=5)
print(f'd2={d2}')

d2=2026-03-05

In [17]:
# timedeltas are differences between two dates or times 
# can be used to calculate future or past dates 
# represents a duration, not a specific moment in time

today = datetime.date.today()
print(f'today={today}')

tdelta = datetime.timedelta(days=7)
print(f'tdelta={tdelta}')

today=2024-12-11
tdelta=7 days, 0:00:00

In [18]:
yesterday = today - tdelta
print(f'yesterday={yesterday}')

tomorrow = today + tdelta
print(f'tomorrow={tomorrow}')

print(f'tomorrow - yesterday={tomorrow - yesterday}')

yesterday=2024-12-04
tomorrow=2024-12-18
tomorrow - yesterday=14 days, 0:00:00

In [19]:
# create an arbitary date object and add 5 weeks to it
d = datetime.date(2020, 1, 1)
print(f'd={d}')

td = datetime.timedelta(weeks=5)
print(f'td={td}')

d=2020-01-01
td=35 days, 0:00:00

### timedeltas:
 -  timedeltas are differences between two dates or times. 
 -  represent a duration
 -  can be used to calculate the difference between two dates or times
 -  we can use datetime to perform basic arithmetic on date values via the timedelta class.

In [20]:
print(f'microseconds={datetime.timedelta(microseconds=1)}')
print(f'milliseconds={datetime.timedelta(milliseconds=1)}')
print(f'seconds={datetime.timedelta(seconds=1)}')
print(f'minutes={datetime.timedelta(minutes=1)}')
print(f'hours={datetime.timedelta(hours=1)}')
print(f'days={datetime.timedelta(days=1)}')
print(f'weeks={datetime.timedelta(weeks=1)}')

microseconds=0:00:00.000001
milliseconds=0:00:00.001000
seconds=0:00:01
minutes=0:01:00
hours=1:00:00
days=1 day, 0:00:00
weeks=7 days, 0:00:00

### Date Arithmetic:
-   date math uses the standard arithmetic operators.
-   the following example with date objects illustrates using timedelta objects to compute new dates, and subtracting date instances to produce timedeltas (including a negative delta value)

In [21]:
today = datetime.datetime.today()
print(f'today={today}')

today=2024-12-11 20:32:53.854112

In [ ]:
one_timedelta = datetime.timedelta(days=1) # 1 day away
print('onetimedelta day:' , one_timedelta)

onetimedelta day: 1 day, 0:00:00

In [25]:
# arithmetic operations on datetime objects
yesterday = today - one_timedelta
print('yesterday:', yesterday)

yesterday: 2024-12-10 20:32:53.854112

In [26]:
tomorrow = today + one_timedelta
print('tomorrow:', tomorrow)

tomorrow: 2024-12-12 20:32:53.854112

In [27]:
print('tomorrow - yesterday:', tomorrow - yesterday)

tomorrow - yesterday: 2 days, 0:00:00

In [28]:
# create an arbitary datetime object and add 5 weeks to it
dt = datetime.datetime(2020, 1, 1, 12, 30, 45)
print('dt:', dt)

dt: 2020-01-01 12:30:45

In [29]:
# operators can be used to add or subtract time from a datetime object
td = datetime.timedelta(weeks=5)
print('td:', td)

print('dt + td:', dt + td)

# create a datetime object with the current date and time

dt = datetime.datetime.now()

td: 35 days, 0:00:00
dt + td: 2020-02-05 12:30:45

In [31]:
# datetime class has year, month, day, hour, minute, second, microsecond and tzinfo attributes

print('year:', dt.year)
print('month:', dt.month)

print('day:', dt.day)
print('hour:', dt.hour)
print('minute:', dt.minute)
print('second:', dt.second)
print('microsecond:', dt.microsecond)
print('tzinfo:', dt.tzinfo)

year: 2024
month: 12
day: 11
hour: 20
minute: 36
second: 16
microsecond: 723883
tzinfo: None

### combining date and times: datetime class

we can use the datetime class to hold values containing both date and time components.
-   represents all attributes from date and time objects.

In [34]:
d = datetime.datetime.now()
for attr in ['year', 'month', 'day', 'hour', 'minute', 'second', 'microsecond']:
    print(f'{attr}: {getattr(d, attr)}')

year: 2024
month: 12
day: 11
hour: 20
minute: 43
second: 33
microsecond: 376138

In [35]:
print(f'now: {datetime.datetime.now()}')
print(f'utcnow: {datetime.datetime.utcnow()}')

print(f'today: {datetime.datetime.today()}')

now: 2024-12-11 20:44:03.163583
utcnow: 2024-12-11 20:44:03.164581
today: 2024-12-11 20:44:03.164581

In [33]:
# combining date and time objects into datetime objects
d = datetime.date(2020, 1, 1)
t = datetime.time(12, 30, 45)
dt = datetime.datetime.combine(d, t)
print('dt:', dt)

dt: 2020-01-01 12:30:45

In [36]:
now = datetime.datetime.now()
print(f'current date and time: {now}')
print(f'current year: {now.year}')
print(f'current month: {now.month}')
print(f'current day: {now.day}')
print(f'current hour: {now.hour}')
print(f'current minute: {now.minute}')
print(f'current second: {now.second}')
print(f'current microsecond: {now.microsecond}')
print(f'current tzinfo: {now.tzinfo}')

print(f'earliest: {datetime.datetime.min}')
print(f'hh:mm:ss format= {now.hour}:{now.minute}:{now.second}')

current date and time: 2024-12-11 20:47:19.746415
current year: 2024
current month: 12
current day: 11
current hour: 20
current minute: 47
current second: 19
current microsecond: 746415
current tzinfo: None
earliest: 0001-01-01 00:00:00
hh:mm:ss format= 20:47:19

just as with date, datetime provides convenient class methods for creating new instances. it also includes fromordinal() and fromtimestamp()
-   in addition: combine() can be useful if you already have a date instance and time instance and want to create a datetime.

In [37]:
t = datetime.time(1, 2, 3)
print('t:', t)

d = datetime.date.today()
print('d:', d)

dt = datetime.datetime.combine(d, t)
print('dt:', dt)

t: 01:02:03
d: 2024-12-11
dt: 2024-12-11 01:02:03